/**
 * @Author: wangxu <ceekey>
 * @Date:   2017-04-27 20:20:16
 * @Email:  xu.wang@ishansong.com
 * @Project: terra
 * @Filename: login.css
 * @Last modified by:   ceekey
 * @Last modified time: 2017-04-27 20:21:54
 */



#particles-js{
    background-color: #000;
    width: 100%;
    height: 100%;
}
